body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #dc3545;
}
.sidebar {
    height: calc(100vh - 50px);
    position: fixed;
    top: 56px;
    left: 0;
    width: 250px;
    background-color: #721c24;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 2;
    padding-top: 20px;
}
.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
}
.sidenav a i {
    margin-right: 10px;
}
.sidenav a:hover {
    background-color: #721c24; /* Darker color for hover effect */
}

.content {
    margin-left: 250px;
    padding: 20px;
}
.content .container {
    margin-top: 20px;
}
.btn-logout {
    margin: 15px;
    background-color: #dc3545;
    border: none;
}
.btn-logout:hover {
    background-color: #c82333;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.card {
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card-title {
    color: #dc3545; /* Red color for card titles */
}
.card-header {
    background-color: #dc3545;
    color: #fff;
}
.card-body {
    background-color: #f8f9fa;
}